pkgbase = wallhaven-bin
	pkgdesc = 一款优雅的跨平台桌面壁纸浏览与下载应用
	pkgver = 2.7.0
	pkgrel = 1
	url = https://github.com/xiaobili/wallhaven
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = at-spi2-core
	depends = libdrm
	depends = libxkbcommon
	depends = mesa
	install = wallhaven-bin.install
	source = wallhaven-2.7.0.pacman::https://github.com/xiaobili/wallhaven/releases/download/v2.7.0/wallhaven-2.7.0.pacman
	sha256sums = SKIP

pkgname = wallhaven-bin
